html,body{height:100%}
h1,h2,h3,h4,h5,h6 {word-wrap:break-word}
#site{min-height:100%}
#topic{margin:0 auto}
.navbar  {margin:0}
.navbar .nav{margin-right:0}
.navbar-inner {border-style:none;background:none;filter:alpha(opacity=100)}
.navbar-inner .container-fluid{margin:0;padding:0}
.carousel-inner.fade-trans>.item{-webkit-transition:opacity 0.7s ease-in-out;-moz-transition:opacity 0.7s ease-in-out;-o-transition:opacity 0.7s ease-in-out;transition:opacity 0.7s ease-in-out;left:0 !important;}
.carousel-inner.fade-trans>.next.left,.carousel-inner.fade-trans>.prev.right{opacity:1;z-index: 1;}
.carousel-inner.fade-trans>.active.left,.carousel-inner.fade-trans >.active.right{opacity: 0;z-index: 2;}
.nav .dropdown .dropdown-menu li {position:relative;z-index:999}
legend{color:inherit}
#mainmenu li.dropdown.open>.dropdown-toggle{background-color:transparent}
#mainmenu li > a {text-shadow:none}
#toolbar li > a {text-shadow:none}
#logo:hover{text-decoration:none}
#site{overflow-x:hidden}
#button-cart{background-size:24px 24px!important}
.pobj img {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.pobj,input,select,textarea{max-width:100%}
.tw-para {overflow:hidden;word-wrap:break-word}
.gallery-idx li{display:inline}
.tw-badge-tl{position: absolute;left: 0;top:0;max-width:30%}
.tw-badge-tr{position: absolute;right: 0;top:0;max-width:30%}
ul.mpv_pics{margin:0}
ul.mpv_pics li{list-style:none}
ul.mpv_thb{margin:0}
ul.mpv_thb li{list-style:none;display:inline}
ul.mpv_thb li img{border:1px solid rgba(0,0,0,.3);max-width:48px;margin:2px}
ul.mpv_thb li img:hover{filter:alpha(opacity=75);opacity:.75;border:1px solid rgba(0,0,0,.7)}
.wrapper-with-intrinsic-ratio{position:relative;height:0}
.element-to-stretch{position:absolute;top:0;left:0;width:100%;height:100%}
.thumbnail > a {display:inline-block;width:100%;text-align:center}
@media (max-width:767px){body{padding-left:0px;padding-right:0px;} }
img.anim-zoom {transform:scale(0.9);-webkit-transform:scale(0.9);-ms-transform:scale(0.9);-moz-transform:scale(0.9);transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;-ms-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;}
img.anim-zoom:hover{transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);-moz-transform:scale(1);}
img.anim-tilt-l{transform:rotate(-5deg);-webkit-transform:rotate(-5deg);-ms-transform:rotate(5deg);-moz-transform:rotate(-5deg);transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;-ms-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;}
img.anim-tilt-l:hover{transform:rotate(0);-webkit-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);}
img.anim-tilt-r{transform:rotate(5deg);-webkit-transform:rotate(5deg);-ms-transform:rotate(5deg);-moz-transform:rotate(5deg);transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;-ms-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;}
img.anim-tilt-r:hover{transform:rotate(0);-webkit-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);}
img.anim-bump-up{position:relative;top:0;transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;-ms-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;}
img.anim-bump-up:hover{top:-4px;}
img.anim-bump-down{position:relative;top:0;transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;-ms-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;}
img.anim-bump-down:hover{top:4px;}
img.anim-360{transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;-ms-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;}
img.anim-360:hover{transform:rotate(360deg);-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);}
img.anim-fade-in{opacity:0.8;-ms-filter:prodig:DXImageTransform.Microsoft.Alpha(Opacity=80);filter: alpha(opacity=80);transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;-ms-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;}
img.anim-fade-in:hover{opacity:1;-ms-filter:prodig:DXImageTransform.Microsoft.Alpha(Opacity=100);filter: alpha(opacity=100);}
